.wrapper--max-width
  .logo
    a(href="#")
      img.logo--nav(src="/images/logo.png")
  header
    span Hey, we're getting
    h1 Married
    .date
      p 2 May 2020
      p Wilmington, NC
.flora
  img.flora--lemon(src="/images/lemon.png")
  img.flora--flower(src="/images/flower.png")
