body {
  font-family: "crimson text", serif;
  text-align: center;
}

.wrapper--max-width {
  max-width: 1024px;
  margin: 0 auto;
}

header {
  padding: 100px;
}

h1 {
  font-family: "FuturaLTPro-Bold";
}
